@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');

body, html{
   background-color: #EAECCC;
   scroll-behavior: smooth;
}

.header{
   font-family: 'Poppins', sans-serif;
   width: 100%;
   position: sticky;
   top: 0;
}

.sidebar{
   height: 100%;
   font-family: 'Poppins', sans-serif;
   position:fixed;
}

.sidebar .nav-link{
margin-top: 6px;
}

.sidebar .nav-link:hover{
   background-color: paleturquoise;
   color: black !important;
}

.sidebar .nav-link.active{
   background-color: paleturquoise !important;
   color: black !important;
}

.dropdown-menu{
   margin-top: 0.8rem;
   padding: 6px;
}

.dropdown-menu a:hover{
   background-color: pink;
   background-color: p;
}

.btn-user{
   background-color: powderblue!important;
   border: 0;
   border-radius: 10px;
}

.btn-user:hover{
   background-color: rgb(116, 255, 255)!important;
   box-shadow: 4px 4px;
}

.btn-obat{
   background-color: #fcb4ef!important;
   border: 0;
   border-radius: 10px;
}

.btn-obat:hover{
   background-color: #fd8eec!important;
   box-shadow: 4px 4px;
}

.btn-kategori{
   background-color: #daffa6!important;
   border: 0;
   border-radius: 10px;
}

.btn-kategori:hover{
   background-color: #a0ff93!important;
   box-shadow: 4px 4px;
}

.btn-bayar{
   background-color: #94d1fd!important;
   border: 0;
   border-radius: 10px;
}

.btn-bayar:hover{
   background-color: #71c4ff!important;
   box-shadow: 4px 4px;
}

.count{
   font-size: 50px;
}