@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body, html{
   background-color: papayawhip;
}

header{
   font-family: 'Poppins', sans-serif;
}

.sidebar{
   height: 100%;
}

.sidebar .nav-link{
margin-top: 6px;
}

.sidebar .nav-link:hover{
   background-color: paleturquoise;
   color: black !important;
}

.sidebar .nav-link.active{
   background-color: paleturquoise !important;
   color: black !important;
}

.dropdown-menu{
   margin-top: 0.8rem;
   padding: 6px;
}

.dropdown-menu a:hover{
   background-color: pink;
   background-color: p;
}

.btn-user{
   background-color: powderblue!important;
   border: 0;
   border-radius: 10px;
}

.btn-user:hover{
   background-color: rgb(123, 236, 236)!important;
   box-shadow: 4px 4px;
}

.btn-obat{
   background-color: pink!important;
   border: 0;
   border-radius: 10px;
}

.btn-obat:hover{
   background-color: rgb(237, 159, 172)!important;
   box-shadow: 4px 4px;
}